.page-title {
    font-family: "Verdana";
    margin-top: 0px;
    margin-left: 10px;
    color: white;
}

.header {
    height: 5%;
    background-color: #005C5A
}

.vis-container {
    margin-top: 20px;
}